<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<body>
  <header>
    <h1>
      customer Page
    </h1>
  </header>

  <main>
    <h1>
      list of items
    </h1>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th>Mark item</th>
          <th>Item name</th>
          <th>Availible</th>
          <th>Price</th>
          <th>Pieces</th>
        </tr>
      </thead>
      <tbody>
        {{# each items}}
        <tr>
          <td>
            <form action="/markProduct" method="post">
              <input type="hidden" id="itemId" name="itemId" value={{ this.itemId }}>
              <input type="hidden" id="itemName" name="itemName" value={{ this.itemName }}>
              <input type="hidden" id="vendorId" name="vendorId" value={{ this.vendorId }}>
              <input type="hidden" id="quantityId" name="quantity" value={{ this.quantity }}>
              <input type="hidden" id="priceId" name="price" value={{ this.price }}>
              <input type="submit" value="mark item">
            </form>
          </td>
          <form action="/addToCart" method="post">
            <td>{{ this.itemName }}</td>
            <td>{{ this.quantity}}</td>
            <td>{{ this.price }}</td>
            <td>
              <input style="width: 5em" type="number" id="newPiece" name="newPiece" max={{ this.quantity}} value=>
              <input type="hidden" id="itemId" name="itemId" value={{ this.itemId }}>
              <input type="hidden" id="nameId" name="itemName" value={{ this.itemName}}>
              <input type="hidden" id="vendorId" name="vendorId" value={{ this.vendorId}}>
              <input type="hidden" id="quantityId" name="quantity" value={{ this.quantity}}>
              <input type="hidden" id="priceId" name="price" value={{ this.price }}>
              <input type="submit" value="add to cart">
            </td>
          </form>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <form action="/checkout" method="post">
      <input type="submit" value="checkout Cart">
    </form>
    <h1>
      list of buyed items
    </h1>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th>Item name</th>
          <th>date</th>
          <th>quantity</th>
          <th>rate (stars)</th>
        </tr>
      </thead>
      <tbody>
        {{# each buyedItems}}
        <tr>
          <form action="/rateItem" method="post">
            <td>{{ this.itemname }}</td>
            <td>{{ this.date }}</td>
            <td>{{ this.quantity }}</td>
            <td>
              <input style="width: 5em" type="number" id="rate" name="rate" max=5 value=>
              <input type="hidden" id="itemId" name="itemId" value={{ this.itemId}}>
              <input type="hidden" id="itemName" name="itemName" value={{ this.itemname}}>
              <input type="submit" value="OK">
            </td>
          </form>
          </form>
        </tr>
        {{/each}}
  </main>
  <footer>
  </footer>

  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
    integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <!--<script src="/client.js"></script> -->


</body>

</html>