<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<body>
  <header>
    <h1>
      Administrator Page
    </h1>
  </header>

  <main>
    <h1>
      Service monitoring
    </h1>

<table style="width:100%">
  <tr>
    <th>Service</th>
    <th>Status</th> 
  </tr>
  <tr>
    <td>Rating Service</td>
    <td>{{ services.ratingService}}</td>
  </tr>
  <tr>
    <td>Inventory Service</td>
    <td>{{ services.inventoryService}}</td>
  </tr>
  <tr>
    <td>Cart Service</td>
    <td>{{ services.cartService}}</td>
  </tr>
    <tr>
    <td>Priceadjustment Service</td>
    <td>{{ services.priceadjustmentService}}</td>
  </tr>
    <tr>
    <td>Notification Service</td>
    <td>{{ services.notificationService}}</td>
  </tr>
    <tr>
    <td>Marked Product Service</td>
    <td>{{ services.markedProductService}}</td>
  </tr>
    <tr>
    <td>Checkout Service</td>
    <td>{{ services.checkoutService}}</td>
  </tr>
    </tr>
    <tr>
    <td>History Service</td>
    <td>{{ services.historyService}}</td>
  </tr>
    </tr>
    <tr>
    <td>Shipment Service</td>
    <td>{{ services.shipmentService}}</td>
  </tr>

</table>

  </main>
  <footer>
  </footer>

  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
    integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <!--<script src="/client.js"></script> -->


</body>

</html>